<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>header_blue</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
</head>

<body>
<div>
  <div class="header-blue">
    <nav class="navbar navbar-default navigation-clean-search">
      <div class="container">
        <div class="navbar-header">
            <img width="176" height="80" src="/assets/images/icon2.png">
        </div>

        <div class="collapse navbar-collapse" id="navcol-1">
          <p class="navbar-text navbar-right">
            <a class="navbar-link login" href="#">Log In</a>
            <a class="btn btn-default action-button" role="button" href="#">Sign Up</a></p>
        </div>
      </div>
    </nav>
  </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
