<div class="mainContainer">
  <div class="nav-left header-blue">
      <div class="image-nav-bar" >
<!--        <form enctype="multipart/form-data">-->
<!--          <img type="button" class="upload-image" src="assets/images/upload.png">-->
<!--          <input type="file">-->
<!--        </form>-->
        <form method="post" name="fileInfo" enctype="multipart/form-data">
          <label for="file"><img class="upload-image" src="assets/images/upload.png" width="60" /></label>
          <input type="file" id="file" name="file" (change)="addVideo($event)" /><br />
        </form>
      </div>
  </div>
  <div class="video video-background">
    <div>
      <button (click)="prevVideo()" class="carousel-control-prev" type="button" >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
      </button>
    </div>
    <div>
      <div class="video">
        <video class="video stream for-video"  src="{{link}}"  [autoplay]="'true'" [loop]="true" ></video>
<!--        <video class="video stream for-video"  src="https://shorty.storage.yandexcloud.net/Бой курантов в Новый год без речи Путина.mp4"  [autoplay]="'true'" [loop]="true" ></video>-->
      </div>
      <div>

          <img type="button"  (click)="sendLike(link)" class="video-button-like image-button" src="assets/images/like.png">
          <img class="video-heart image-button" src="assets/images/heart.png">
          <div class="video-heart-count image-button" ><h2>{{likesNumb}}</h2></div>
          <img type="button" (click)="sendDislike(link)" class="video-button-dislike image-button" src="assets/images/dislike.png">
      </div>
    </div>
    <div>
      <button (click)="nextVideo()" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
      </button>
    </div>
  </div>
</div>
